<h5 (click)="emitToService()">
  async-test, click and emit number
</h5>

<div *ngIf="product$ | async as products">
  <span *ngFor="let item of products">
    {{item.email}}
  </span>

</div>

<hr>
<span *ngFor="let item of asyncObservale | async">
    {{item.id }}
  </span>



